{% extends "ZeldaBundle::layout.html.twig" %}
{% block title %}ZeldaPedia{% endblock %}
{% block pageContent %}
    <!-- Jumbotron Header -->
    <header class="jumbotron hero-spacer headerIndex">
        <h1>Bienvenue!</h1>
    </header>
    <hr>
    <!-- Page Heading -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Sommaire
                <small></small>
            </h1>
        </div>
    </div>
    <!-- /.row -->

    <!-- Projects Row -->
    <div class="row">
        <div class="col-md-6 portfolio-item">
            <a href="{{ path('zelda_categorie')}}">
                <img class="img-responsive indexCateg" src="http://i.imgur.com/o3Xy7bF.jpg" alt="" >
            </a>
            <h3 style="text-align: center;">
                <a href="{{ path('zelda_categorie')}}">Armes</a>
            </h3>
        </div>
        <div class="col-md-6 portfolio-item">
            <a href="#">
                <img class="img-responsive indexCateg" src="http://i.imgur.com/ZPlAObV.jpg" alt="">
            </a>
            <h3 style="text-align: center;">
                <a href="#">Monstres</a>
            </h3>
        </div>
        <div class="col-md-6 portfolio-item">
            <a href="#">
                <img class="img-responsive indexCateg" src="http://i.imgur.com/iJPQ6d6.jpg" alt="">
            </a>
            <h3 style="text-align: center;">
                <a href="#">Animaux</a>
            </h3>
        </div>
        <div class="col-md-6 portfolio-item">
            <a href="#">
                <img class="img-responsive indexCateg" src="http://i.imgur.com/bf18g5b.jpg" alt="">
            </a>
            <h3 style="text-align: center;">
                <a href="#">Materiaux</a>
            </h3>
        </div>
    </div>
    <!-- /.row -->
        <!-- /.row -->
        <hr>
{% endblock %}

