{% extends "ZeldaBundle::layout.html.twig" %}
{% block title %}ZeldaPedia{% endblock %}
{% block pageContent %}
    <!-- Jumbotron Header -->
    <header class="jumbotron hero-spacer">
        <h1>A Warm Welcome!</h1>
    </header>
    <hr>
    <!-- Page Heading -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Sommaire
                <small>Secondary Text</small>
            </h1>
        </div>
    </div>
    <!-- /.row -->

    <!-- Projects Row -->
    <div class="row">
        <div class="col-md-6 portfolio-item">
            <a href="#">
                <img class="img-responsive" src="http://placehold.it/750x450" alt="">
            </a>
            <h3 style="text-align: center;">
                <a href="{{ path('zelda_categorie', {'id': 1}) }}">Armes</a>
            </h3>
        </div>
        <div class="col-md-6 portfolio-item">
            <a href="#">
                <img class="img-responsive" src="http://placehold.it/750x450" alt="">
            </a>
            <h3 style="text-align: center;">
                <a href="#">Project Name</a>
            </h3>
        </div>
        <div class="col-md-6 portfolio-item">
            <a href="#">
                <img class="img-responsive" src="http://placehold.it/750x450" alt="">
            </a>
            <h3 style="text-align: center;">
                <a href="#">Project Name</a>
            </h3>
        </div>
        <div class="col-md-6 portfolio-item">
            <a href="#">
                <img class="img-responsive" src="http://placehold.it/750x450" alt="">
            </a>
            <h3 style="text-align: center;">
                <a href="#">Project Name</a>
            </h3>
        </div>
        <div class="col-md-6 portfolio-item">
            <a href="#">
                <img class="img-responsive" src="http://placehold.it/750x450" alt="">
            </a>
            <h3 style="text-align: center;">
                <a href="#">Project Name</a>
            </h3>
        </div>
    </div>
    <!-- /.row -->
        <!-- /.row -->
        <hr>
{% endblock %}

