@font-face {
    font-family: HyliaSerif;
    src: url("../fonts/HyliaSerif.otf");
}

@font-face {
    font-family: Tryforce;
    src: url("../fonts/Triforce.ttf");
}

body {
    background-image: url("../images/background.jpg");
    padding:0px;
}

div {
    background-color: white;
}

h1, h2, h3, a {
    font-family: HyliaSerif;
}





.navbar-brand {
    padding: 0px;
}
.navbar-brand>img {
    height: 100%;
    padding: 15px;
    width: auto;
}

.example3 .navbar-brand {
    height: 80px;
}

.example3 .nav >li >a {
    padding-top: 30px;
    padding-bottom: 30px;
}
.example3 .navbar-toggle {
    padding: 10px;
    margin: 25px 15px 25px 0;
}

.example3 {
}