@font-face {
    font-family: HyliaSerif;
    src: url("../fonts/HyliaSerif.otf");
}

@font-face {
    font-family: Tryforce;
    src: url("../fonts/Triforce.ttf");
}

body {
    background-image: url("../images/itemBackground.png");
    padding:0px;

}
.autre_projet{
    height: 200px;
    width: 250px;
}

.btn {
     background-color: #0d6aad;
     /*box-shadow: 0 0 20px 1px #00a7d0;*/
     margin-right: 20px;
     margin-bottom: 10px;
     margin-top: 10px;
    color: white;
 }

.indexCateg {
    border-radius: 15px;
}


.btn:hover {
    background-color: #00a7d0;
    box-shadow: 0 0 20px 1px #0d6aad;
}

.customHeight {
    height: 150px;
    width: 150px;
}

div {
    background-color: white;
}

h1, h2, h3, a, h4 {
    font-family: HyliaSerif;
}

button {
    font-family: Tryforce;
}

.headerIndex {
    background-image: url("../images/itemBackground.png");
    background-repeat: repeat;
}

.headerIndex, a {
    color: #00a7d0;
    text-shadow: 2px 2px 50px #0d6aad;
}

.container {
    border-radius: 25px;
}

.navbar-brand {
    padding: 0px;
}
.navbar-brand>img {
    height: 100%;
    padding: 15px;
    width: auto;
}

.example3 .navbar-brand {
    height: 80px;
}

.example3 .nav >li >a {
    padding-top: 30px;
    padding-bottom: 30px;
}
.example3 .navbar-toggle {
    padding: 10px;
    margin: 25px 15px 25px 0;
}
