@font-face {
    font-family: SunnyDay;
    src: url("../fonts/Sunny.ttf");
}

body{
    --shadow: 0 0 5px rgba(0, 10, 0, 0);

}
/**
 * Horizontal Type Line Behind Text
 * Inspired by this discussion @ CSS-Tricks: http://css-tricks.com/forums/topic/css-trick-for-a-horizontal-type-line-behind-text/#post-151970
 * Available on jsFiddle: http://jsfiddle.net/ericrasch/jAXXA/
 * Available on Dabblet: http://dabblet.com/gist/2045198
 * Available on GitHub Gist: https://gist.github.com/2045198
 */

.efficacite{
    display:inline;
}

h3.background {
    position: relative;
    z-index: 1;
    line-height: 40px;
}
h3:before
     {
    border-top: 2px solid #00a7d0;
    content:"";
    margin: 0 auto; /* this centers the line to the full width specified */
    position: absolute; /* positioning must be absolute here, and relative positioning must be applied to the parent */
    top: 50%; left: 0; right: 0; bottom: 0;
    width: 95%;
    z-index: -1;

}

.vignette{
    width: 254px;
    height: 282px;
    margin: auto;
}

span
{
    /* to hide the lines from behind the text, you have to set the background color the same as the container */
    background: #fff;
    padding: 0 5px;
}


h1, p, li, h3, a, h4, .smalltext{
    color: #00a7d0;
    text-shadow: 5px 5px 20px #0d6aad;
}

p, li {
    font-size: medium;
}
.heart {
    display: inline;

}

li {
    list-style-type:none;

}

ul {
    padding: 0;
}
.row{
    color: #0d6aad;
}
.autre_projet{
    height: 120px;
    width: 120px;
    margin: auto;
}

.centertext{
    text-align: center;
}






@keyframes focus {
    0% {
        box-shadow: var(--shadow), 0 0 20px 5px var(--focus-light);
    }
    50% {
        box-shadow: var(--shadow), 0 0 20px 5px var(--focus-dark);
    }
    100% {
        box-shadow: var(--shadow), 0 0 20px 5px var(--focus-light);
    }
}
